@font-face { 
    font-family: "unifont"; 
    src: url("./unifont.woff") format('woff'); 
}
body {
    color: white;
    background-color: black;
    margin: 0 auto;
    padding: 1em 0 1em 0;
    /*overflow-x: hidden;
    overflow-y: hidden;*/
}
a { color: #93ffd7; }
h2 {
    text-align: center;
    color: aqua;
}
div {
    display: block;
    text-align: center;
}
.textbox {
    text-align: left;
    display: inline-block;
}
pre { 
    font-family: "unifont", "Lucida Console", monospace, Monaco; 
    font-size: 16px;
    line-height: 1.0;
    padding-left: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
img {
    max-width: auto;
    max-height: auto;
}
* { cursor: url(images/cursor.png), auto; }
@media only screen and (max-width: 600px) { * { font-size: 1.5rem; } }
