body { background-color: black; }
h2, h3 { color: yellowgreen; }
code, p {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
a, h1 {
    color: blueviolet;
    font-family: monospace;
}
